//
   Created by Administrator on 2015/1/3.

doctype html
html
    head
        title live-room-waterfall
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/style.css')
        style.
            .back_to_add{
                position:fixed;
                right:0;
                top:0;
            }
    body
        a(href='/publish.html').back_to_add 添加商品
        div#ls-load
            button( onclick="load()")加载
        - if (products.length)
            section.waterfall
                each product in products
                    div.box
                        div.desc
                            div #{product.text}
                                each imageName in product.image_url
                                    img(src='/images/#{imageName}')
                            div.ontact-saler
                                联系卖家

script(src="/javascripts/jquery.js")
script(src="/javascripts/waterfall.js")
script.
    function load(){
        waterfall.asyncLoader();
    }