//
   Created by Administrator on 15-1-28.

doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/bootstrap-grip.css')
        style.
            ul{
                list-style: none;
                padding: 0;
            }
            li:first-child{
                border-top: none;
            }
            li{
                text-align: center;
                padding: 5px 12px;
                border-bottom: 1px solid rgb(195, 222, 233);
                border-top: 1px solid rgb(160, 178, 211);
            }
    body
        ul
            each roomobj,i in favourite_rooms
            li.favour_room_option
                #{roomobj.nickname}的直播间：#{roomobj.room_id}
