//
   Created by Administrator on 15-1-28.

doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css')
        link(rel='stylesheet', href='/stylesheets/style_new.css')

    body
        ul#room-list
            each roomobj,i in favourite_rooms
                li(data-id='#{roomobj.room_id}').favour_room_option.col-xxs-10.col-xxs-offset-1.col-xs-6.col-xs-offset-3
                    #{roomobj.nickname}的直播间：#{roomobj.room_id}
script(src="/javascripts/jquery.js")
script(src="/javascripts/room-door.js")