body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x:hidden;
}

a {
    color: #00B7FF;
}
.waterfall{
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.box{
    border:1px solid #CCCCFF;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}
.box img{
    width:33%;
    /*margin-left:1%;*/
}
.box img:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    /*margin-left:1%;*/
}
.box div{
    word-break:break-all;
    text-align:center;
    font-size: 12px;
    font-family: "microsoft yahei";
}
div.desc{
    border-bottom: 1px solid #CCCCFF;
}

.delete-product{
    position: absolute;
    text-decoration: underline;
    color: red;
    right: 0;
    font-size: 12px;
    bottom: 0px;
}

.column{
    width: 15%;
    float: left;
    margin-left: 10px;
}

.unvisible{
    visibility: hidden;
}

#ls-load{position: fixed;left: 0;top: 0;z-index: 10;}

#tools-btn{
    position:absolute;
    right:0;
    top:0;
    padding:0px 12px;
    cursor:pointer;
}
#tools-btn > div{
    width:3px;
    height:3px;
    display:inline-block;
    margin-left:3px;
    background-color:#cdcdcd;
}
#tools-panel{
    position:absolute;
    right:10px;
    display:none;
    z-index:101;
}
#tools-panel > div{
    border-bottom:black 1px solid;
    background-color:#303030;
    color:#fff;
    padding:6px 8px;
    cursor:pointer;
}
#tools-panel > div:last-child{
    border-top:white 1px solid;
    background-color:#303030;
}

.user,.roomid{
    display: inline-block;
}

/********start 照片显示弹出框********/
#popup .modal-dialog{
    margin-top:48px;
}

#popup-btn{
    position:absolute;
    bottom:0px;
}

.modal-body{
    overflow-y: auto;
}

.modal-body img{
    max-width:100%;
}

.big-img-display{
    text-align:center;
}

#next{
    position:absolute;
    right:-48px;
    top:0%;
    color:white;
    font-size: 24px;
}

#popup-close{
    position:absolute;
    right:0;
    top:-24px;
    font-size:72px;
    color:white;
    cursor:pointer;
    z-index:1200;
}

/********start 照片显示弹出框********/

/*********start room-door*********/
#room{
    width: 80%;
    height: 50px;
    font-size: 40px;
    border: 1px solid #cdcdcd;
    margin: 50px auto;
    text-align: center;
}
.room_input_desc{
    width: 100%;
    text-align: center;
    margin-top: 250px;
}
.submit-div{
    width: 100%;
    text-align: center;
}
#enter-room-btn{
    padding: 8px 12px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    color: #1c9aff;
    font-size: 24px;
    cursor: pointer;
}
#enter-room-btn:hover{
    background-color: #c3cece;
    color: blue;
}


#favour_rooms_btn{
    text-align: center;
}

.favour_rooms{
    width: 100%;
}

.favour_room_option{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 5px;
    font-size: 18px;
}

/*********end room-door*********/